/*landing page first container box */
.containerlanding {
    background-color: #f9f8fd;
    min-height: 400px;
  }
  
  /*ed provider */
  .containerED {
    padding: 30px;
    background-color: #f9f8fd;
  }
  
  .edtech {
    padding: 30px;
    border: 5px solid gray;
    margin: 10px;
    box-sizing: border-box;
  }
  
  .spacingED {
    line-height: 1.4;
  }
  
  .edtext {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: Bold;
  }
  
  .edtechinner {
    line-height: 1;
    padding: 20px;
  
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: Bold;
    box-sizing: border-box;
  }
  
  .getstarted {
    display: inline-block;
    border-radius: 5px;
    background-color: #ea4c89;
    border: 2px;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 10px 16px;
    width: 150 px;
  
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
    box-shadow: 0 2px 8px 0 rgba(250, 100, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
  }
  
  .button {
    display: inline-block;
    border-radius: 5px;
    background-color: #ea4c89;
    border: 2px;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 10px 16px;
    width: 90px;
  
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
    box-shadow: 0 2px 8px 0 rgba(250, 100, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
  }
  .signinbg {
    background: linear-gradient(to right, #f5ebdf 50%, #ffffff 0%);
  }
  
  .signinlefttext {
    padding: 2px 0px 0px 0px;
  
    box-sizing: border-box;
  
    align-items: center;
    text-align: center;
  }
  
  .signinfontleft {
    font-family: “Arial”, Helvetica, sans-serif;
    line-height: 1.5;
  
    font-size: 20px;
  
    font-weight: Bold;
    box-sizing: border-box;
  }
  
  .signinrightText {
    padding: 2px 0px 0px 0px;
    margin-top: 30%;
    box-sizing: border-box;
  
    align-items: center;
    text-align: center;
  }
  
  .signupbg {
    background: linear-gradient(to right, #e75353 50%, #ffffff 0%);
  }
  
  .signupfontleft {
    font-family: “Arial”, Helvetica, sans-serif;
    line-height: 1.5;
  
    font-size: 20px;
    color: #353d8d;
    font-weight: Bold;
    box-sizing: border-box;
  }
  
  .form-control:focus {
    border-color: #ff80ff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset,
      0px 0px 8px rgba(255, 100, 255, 0.5);
  }
  