.button {
    display: inline-block;
    border-radius: 5px;
    background-color: #ea4c89;
    border: 2px;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 10px 16px;
    width: 90px;
  
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px 2px 2px 5px;
    box-shadow: 0 2px 8px 0 rgba(250, 100, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
  }
  
  .social-body {
    padding: 15px;
  }
  .social-body img {
    margin-bottom: 10px;
  }
  .form-control:focus {
    border-color: #eceff1;
    box-shadow: 0px -2px 2px #eceff1, 0px 2px 2px #eceff1;
  }
  
  .socialLayer {
    background-color: #fafafa;
    min-height: 500px;
    box-shadow: 0px -2px 2px #eceff1, 0px 2px 2px #eceff1;
  }
  
  .feedbox {
    background-color: #ffffff;
    margin-top: 5vh;
    box-shadow: 0.3px -0.3px 3px grey, -0.3px 0.3px 10px grey;
    padding: 10px;
  }
  
  .AvatarContainer {
    float: right;
  }
  
  .Avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 4px solid;
    border-left-color: #ea4c89;
    border-right-color: #ff4949;
    border-top-color: #ea4c89;
    border-bottom-color: #ff4949;
    padding: 2px;
    margin: 3px 4px 3px 5px;
  }
  
  .feedbox-head {
    line-height: 1rem;
  }
  
  .socialCard {
    min-width: 100%;
  }
  
  .profileshow:after {
    font-family: "FontAwesome";
    content: url("svg/bn4.svg");
    float: right;
  }
  .profileshow .collapsed::-ms-ticks-before {
    /* symbol for "collapsed" panels */
    content: url("svg/bnArrowup.svg");
    float: right;
  }
  
  .my-Avatar {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 4px solid;
    border-left-color: #ea4c89;
    border-right-color: #ff4949;
    border-top-color: #ea4c89;
    border-bottom-color: #ff4949;
    padding: 2px;
    margin: 3px 4px 3px 5px;
  }
  
  .gedf-wrapper {
    margin-top: 0.97rem;
  }
  
  /**Reset Bootstrap*/
  .dropdown-toggle::after {
    content: none;
    display: none;
  }
  
  .trend-follow {
    margin-right: 1px;
  }
  
  .trend-card {
    display: inline-block;
    align-items: flex-end;
    /* float: right; */
  }
  /*
  .menubtn {
    width: 115px;
    opacity: 1;
    font-weight: bold;
    padding: 1px;
    border-color: #ea4c89;
    color: #ea4c89;
    font-weight: lighter;
    box-shadow: 0 1px 1px 0 rgba(250, 100, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.19);
  }
  */
  
  .menubtn {
    border-color: black;
    width: 116px;
    padding-right: 2px;
    padding-left: 2px;
  }
  