.EmailVerified {
    background-color: #f9d9eb;
    min-height: 100vmin;
  }
  
  .verifiedlefttext {
    padding: 2px 0px 0px 0px;
  
    box-sizing: border-box;
  
    align-items: center;
    text-align: center;
  }
  
  .verifiedfontleft {
    font-family: “Arial”, Helvetica, sans-serif;
    line-height: 1.5;
  
    font-size: 20px;
  
    font-weight: Bold;
    box-sizing: border-box;
  }
  
  .verifiedrightText {
    padding: 2px 0px 0px 0px;
    margin-top: 20%;
    box-sizing: border-box;
  
    align-items: center;
    text-align: center;
  }
  
  .verifiedRight {
    padding: 30px;
    border: 5px solid gray;
    margin: 10px;
    box-sizing: border-box;
  }
  
  .getstarted {
    display: inline-block;
    border-radius: 5px;
    background-color: #ea4c89;
    border: 2px;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 10px 16px;
    width: 150 px;
  
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
    box-shadow: 0 2px 8px 0 rgba(250, 100, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
  }