/*landing page first container box */
  .pageContent .containerlanding {
    background-color: #f9f8fd;
    min-height: 400px;
  }
  
  /*ed provider */
  .containerED {
    padding: 30px;
    background-color: #f9f8fd;
  }
  
  .pageContent .edtech {
    padding: 30px;
    border: 5px solid gray;
    margin: 10px;
    box-sizing: border-box;
  }
  
  .pageContent .spacingED {
    line-height: 1.4;
  }
  
  .pageContent .edtext {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: Bold;
  }
  
  .pageContent .edtechinner {
    line-height: 1;
    padding: 20px;
  
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: Bold;
    box-sizing: border-box;
  }
  
  .pageContent .getstarted {
    display: inline-block;
    border-radius: 5px;
    background-color: #ea4c89;
    border: 2px;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 10px 16px;
    width: 150 px;
  
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
    box-shadow: 0 2px 8px 0 rgba(250, 100, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
  }
  
  .button {
    display: inline-block;
    border-radius: 5px;
    background-color: #ea4c89;
    border: 2px;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 10px 16px;
    width: 90px;
  
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
    box-shadow: 0 2px 8px 0 rgba(250, 100, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
  }