.button {
    display: inline-block;
    border-radius: 5px;
    background-color: #ea4c89;
    border: 2px;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 10px 16px;
    width: 90px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px 2px 2px 5px;
    box-shadow: 0 2px 8px 0 rgba(250, 100, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
  }
  .button_edit {
    display: inline-block;
    border-radius: 5px;
    background-color: #ea4c89;
    border: 2px;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 10px 16px;
  
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px 2px 2px 5px;
    box-shadow: 0 2px 8px 0 rgba(250, 100, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1;
  }
  .name-profile {
    font-size: 1.5rem;
  }
  .social-body {
    padding: 15px;
  }
  .social-body img {
    margin-bottom: 10px;
  }
  .form-control:focus {
    border-color: #eceff1;
    box-shadow: 0px -2px 2px #eceff1, 0px 2px 2px #eceff1;
  }
  
  .profile_Layer {
    background-color: #fafafa;
  
    box-shadow: 0px -2px 2px #eceff1, 0px 2px 2px #eceff1;
  }
  
  .divider {
    width: 90vw;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 2px;
  }
  
  .my-Profile {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 4px solid;
    border-left-color: #ea4c89;
    border-right-color: #ff4949;
    border-top-color: #ea4c89;
    border-bottom-color: #ff4949;
    padding: 2px;
  }
  
  .AvatarContainer {
    float: right;
  }
  
  .profile-container {
    min-height: 60vh;
    padding-top: 4%;
  }
  
  .btn-edit {
    border-color: black;
    float: left;
  }
  
  .navs {
    border-top: 1px solid black;
    border-radius: 0px;
  }
  
  .detail {
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 1rem;
    color: grey;
  }
  
  .bn_styling {
    display: inline-block;
    border-radius: 5px;
    background-color: #ea4c89;
  
    color: white;
    text-align: center;
    font-size: 14px;
  
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px 2px 2px 5px;
  
    opacity: 1;
  }
  
  h4 {
    color: grey;
  }

.edit{
    /* box-shadow: 2px 4px 7px grey; */
    height: 10px;
    background-image: url('./../assets/svg/editButton.svg') ; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; min-width: 2rem; min-height: 2rem;
    border-radius: 15%;               
}
.save{
  /* box-shadow: 2px 4px 7px grey; */
  height: 10px;
  background-image: url('./../assets/svg/saveItem.svg') ; 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; min-width: 2rem; min-height: 2rem;
  border-radius: 15%;               
}
.gear{
    box-shadow: 2px 4px 7px grey;
    height: 45px;
    background-image: url('./../assets/svg/gear.svg') ; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; min-width: 2rem; min-height: 2rem;
    border-radius: 50%;               
}
.gear:active{
    box-shadow: 2px 4px 7px #fff;
}

.nav-pills > li > a:hover {
  color: #ffff; 
  background-color: #ea4c89;
}
#personal a:active {
    color: #ffff; 
    background-color: #ea4c89;
  }
.nav-link {
  color: grey;
}

.setting {
  text-decoration: none;
}